#portifolio h2, 
#portifolio p{
    text-align: center;
    background-color: #fff;
    color: #8bc34a;
    font-family: Playfair Display Flex;
    font-size: 18px;
}

    
    

#texto
{
    width: 800px;
    margin: auto;
}
