
#cabecalho{
    
  background-image: url('../imagens/teste.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
 }

 .topo {
  max-width: 80%;

}

.dropdown-menu{
  background-color: #4CC9F0;
}

.topo a{
  color: #fff;
  font-size: 14pt;
}

.esquerda a{
  font-size: 16pt;
}

.topo ul a:hover,
.ativo {
  padding-bottom: 0;
  border-bottom: 2px solid #7BF1A8;
  color: #4CC9F0;
  transition: .5s;

}

.esquerda {
  float: left;
  width: 50%; /* definir a largura */
}
.esquerda a:hover {
  color: #4CC9F0;

}

.direita {
  float: right;
  width: 80%; /* definir a largura */
}

.titulo{
  height: 80vh;
}

.titulo {
  max-width: 70%;
  margin: 0 auto; /* para centralizar a div na página */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo p {

  background-color: #7BF1A8;
  color: #fff ;
  text-align: center;
  padding: 5px ;
  font-size: 16pt;
}

.titulo h2 {

  background-color: #fff;
  color: #7BF1A8 ;
}


main{
  margin: 50px 0 50px 0;
}

.corpo {
    max-width: 70%;
    margin: 0 auto; /* para centralizar a div na página */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .corpo{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .corpo h2{

    background-color: #fff;
    color: #7BF1A8 ;
  }
  .corpo p{

    
    color:#666666;
    text-align: center;
    padding: 5px ;
    font-size: 16pt;
  }
  .atracoes {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    
  }

  .card{
    flex-basis: 30%; 
    display: flex;
     margin: 10px;
     border: none;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .my-button {
    background-color: #7BF1A8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .my-button:hover {
    background-color:#4CC9F0 ;
  }

   
  .footer {
    background-color: #7BF1A8;
    padding: 30px 0;
    margin-top: 50px;
    color: #fff;
  }
  
  .footer-content {
    text-align: center;
    margin-bottom: 30px;
  }
 