#cabecalho{
    
    background-image: url('../imagens/hotel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    height: 80vh;
   }

   .corpo{

    margin-top: 50px;
   }
  
   .corpo h1{
    text-align: center;
    color:  #8bc34a;
    margin-bottom: 5px;
   }

   .posicao h4{
        color: #ffff;
        margin-top: -50vh;
        margin-bottom: 50vh;
        text-align: center;
        FONT-FAMILY:"Dancing Script", cursive;
        FONT-SIZE:50px;
   }
  .saotome h1{
    color:  #8bc34a;
    text-align: center;

  }
  .saotome p{
    FONT-FAMILY:sans-serif;
    FONT-SIZE:16px;
    LINE-HEIGHT:24px;
    TEXT-ALIGN:start;
    color: #1a051d;
  }


  .pricinpe h1{
    color:  #8bc34a;
    text-align: center;
  }

  .pricinp p{
    FONT-FAMILY:sans-serif;
    FONT-SIZE:16px;
    LINE-HEIGHT:24px;
    TEXT-ALIGN:start;
    color: #1a051d;
  }
  a{
    color:  #8bc34a;
   }

   .card {
    margin: 10px;
    height: 500px; /* Defina a altura desejada para todas as cards */
    overflow: hidden; /* Para esconder qualquer conteúdo que ultrapasse a altura definida */
  }

  .card-body {
    height: 300px; /* Defina a altura desejada para o corpo da card (o texto) */
    overflow: hidden; /* Para esconder qualquer conteúdo que ultrapasse a altura definida */
  }
 