.container{
    margin-top: 50px;
    padding: 0px;
    align-items: center;
}

.col-sm-4 a{
    color: #000;
    text-decoration: none;
}

.col-sm-4{
    width: 350px;

}


.opcao{
    margin-top: 5px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #fff;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 50px;
    cursor: pointer;
}
.opcao i{
    font-size: 25px;
    cursor: pointer;
}

.btCancelar{
    background-color: #d00000;
    border: none;
    padding: 10px;
    border-radius: 50px;
}

.chat-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
  }

  .message {
    padding: 10px;
    margin-bottom: 10px;
  }

  .user-message {
    background-color: #f2f2f2;
  }

  .bot-message {
    background-color: #e2e6fa;
  }



#msg,
#listMsg,
#reservas,
#pedidos,
#totalGuias{
    display: none;
}

#perfil{
    display: block;
}

.pendentes{
    margin-top: 20px;
}

.pendentes p{

    padding: 10px;
}