
#cabecalho{
    background-color: #4CC9F0;
 }

.corpo {
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    max-width: 80%;
}

.corpo .card{
    margin: 10px;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
}

.corpo .cardAtivo{
    border: 5px solid #7BF1A8;
}
#form
{
    width: 400px;
    margin: auto;
    border-radius: 50px;
    padding: 50px;
    outline: none;
    font-size: 14pt;
    background-color: #8bc34a;
    display: block;

    }

input::placeholder,
textarea
{
    font-style: italic;
}
#form div input,
form input[type="button"],
form select,
form textarea
{
    outline: none;
    font-size: 13pt;
    padding: 10px;
    border-radius: 20px;
    width: 280px;
    border: none;
    margin-top: 5px;
    background-color: rgba(13, 138, 161, 0.2);
}

/* Estilos para a seta do select */
form select {
    border-right: 15px solid transparent;
  }
  

form input[type="button"],
#enviar input[type="button"]
{
    background-color: #1B88A2;
    font-weight: 700;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}
form input[type="button"]:hover
{
    opacity: .8;
}
form label
{
    cursor: pointer;
    margin-bottom: 30px;
}
form input[type="checkbox"]
{
    width: 20px;
    height: 20px;
    outline: none;
    border: 2px solid black;
    transition: .5s;
    margin-right: 10px;
}

form input:checked[type="checkbox"]
{
    border-left: none;
    border-top: none;   
    width: 10px;
    border-color: lawngreen;
    transform: rotate(45deg);
}
#valEmail
{
    margin-bottom: 10px;
    font-weight: 500;
}

#registoGuia{
    display: none;
}

input[type="radio"]:checked {
  background-color: blue;
  color: white;
}

#radioSexo{
    display: flex;
}
#radioSexo label{
    display: flex;
    margin: 10px;
    margin-top: -30px;
}
#radioSexo input[type="radio"]{
    display: flex;
    width: 15px;
    margin-left: 20px;
    border: none;
    background-color: rgba(13, 138, 161, 0.2);
}


  

