.corpo {
    max-width: 70%;
    margin: 0 auto; /* para centralizar a div na página */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .corpo{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .corpo h2 ,h1{

    background-color: #fff;
    color: #7BF1A8 ;
  }
  .corpo p{

    
    color:#666666;
    text-align: center;
    padding: 5px ;
    font-size: 16pt;
  }
  .guias {
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    
  }

  .card {
    margin: 10px;
    height: 600px; /* Defina a altura desejada para todas as cards */
    overflow: hidden; /* Para esconder qualquer conteúdo que ultrapasse a altura definida */
  }

  .card-body {
    height: 400px; /* Defina a altura desejada para o corpo da card (o texto) */
    overflow: hidden; /* Para esconder qualquer conteúdo que ultrapasse a altura definida */
  }

 
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;

  }


  
  .my-button {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    background-color: #7BF1A8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease;

  }
  
  .my-button:hover {
    background-color:#4CC9F0 ;
  }
  
  .guias img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  
  
  